.header-mods {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 10px;
    background-color: rgba(69, 69, 69, 0.78);
}

.ui.card, .ui.cards > .card {
  /* width: 290px; */
  width: 230px;
}

/* Inline #5 | http://localhost:3000/wiki-data */

.input {
    width: 50vw;
}

input, textarea {
  width: 100%;
}

.item-name {
    border: 0px;
    font-style: oblique;
    color: black;
}
.item-name:focus-visible {
    border: 1px;
}

.item-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.ui.segment>.ui.dimmer {
     border-radius:inherit!important;
     height: 100vh;
}
.ui.card:first-child {
	margin: 1em 0;
}
.ui.card:last-child {
	margin: 1em 0;
}
.gray-rar {
    background-color: #595959 !important;
}
.gray-rar input, .gray-rar textarea {
    background-color: #dfdfdf;
    border: 0px;
}
.green-rar {
    background-color: #6bbf00 !important;
}
.green-rar input, .green-rar textarea {
    background-color: rgb(218, 255, 190);
    border: 0px;
}
.blue-rar {
    background-color: #00b5f2 !important;
}
.blue-rar input, .blue-rar textarea {
    background-color: #bbe4ff;
    border: 0px;
}
.purple-rar {
    background-color: #8733c6 !important;
}
.purple-rar input, .purple-rar textarea {
    background-color: #e3c7ff;
    border: 0px;
}
.gold-rar {
    background-color: #f7cd0f !important;
}
.gold-rar input, .gold-rar textarea {
    background-color: #ffeabf;
    border: 0px;
}
.orange-rar {
    background-color: #f47f3d !important;
}
.orange-rar input, .orange-rar textarea {
    background-color: #ffdbc6;
    border: 0px;
}

.item-description {
    margin-top: 1px;
}
.item-description, .item-name-custom {
    padding-left: 2px;
}
.header {
    height: 46.3px;
}
.header2 {
    margin-top: 1px;
}
.ui.segment {
    background:inherit;
}
.image > img {
  width: 150px !important;
  height: 150px !important;
  margin: auto;
}
.invisible {
    background-color: inherit;
    border: none;
}
.item:hover {
	background-color: gray;
}
.bigInput {
    width: 100%;
    height: 400px;
}
div .image {
	min-width: 150px;
	min-height: 150px;
}
.item:hover {
	background-color: rgba(128, 128, 128, 0.22) !important;
}
.ui.items > .item > .content {
    padding-top: 4px;
}
.hidden > input {
    width: inherit;
    margin-right: 5px;
}
.hidden {
    color: #000000;
    font-weight: bold;
}
.extension-currency-amount {
    width: 60px;
}
.extension-currency {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
}
.extension-box h3 {
    margin: 3px 0 3px 0;
}