.header-playfab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 10px;
    background-color: rgba(69, 69, 69, 0.78);
}
.warning {
    font-size: xxx-large;
    color: red;
    padding: 30px;
}
.header-file > input {
    color: wheat;
}
.App .change-list {
  background: rgba(150, 150, 150, 0.5);
    font-size: large;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.changedItem, .new-item, .removed-item {
  display: flex;
  flex-direction: row;
  margin: 2px;
  background: rgba(170, 170, 170, 0.5);
    justify-content: space-between;
}
.changedItem {
    background: rgba(255, 237, 75, 0.5);
}
.new-item {
    background: rgba(67, 255, 22, 0.5);
}
.removed-item {
    background: rgba(255, 93, 93, 0.5);
}
.changedItem > .item-name::before {
  content: "Changed ";
  font-style: normal;
  font-weight: normal;
}
.new-item > .item-name::before {
  content: "New ";
  font-style: normal;
  font-weight: normal;
}
.removed-item > .item-name::before {
  content: "Removed ";
  font-style: normal;
  font-weight: normal;
}
.item-name {
    font-weight: bold;
}
.changes {
  padding-left: 10px;
}
.old-value {
  color: red;
}
.new-value {
  color: darkgreen;
}