.App {
  text-align: center;
}

.homeHeader {
  background-color: #282c34;
  padding-top: 20px;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: normal;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.settings {
  right: 20px;
  top: 20px;

}

.App-link {
  color: #61dafb;
}
body {
  background: url("./images/BG.jpg") no-repeat fixed center top / cover rgb(0, 0, 0);
}