.limitWidth {
    max-width: 60%;
}
.modal > .description {
    padding: 7px;
}
.content > .ui {
    margin: 3px;
}
/*input .search {*/
/*    margin: 2px;*/
/*}*/
.homeHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}